*{
margin: 0;
padding: 0;
box-sizing: border-box;

}
header{

background-color:#deae;
padding-top: 50px;

}

nav{
width: 71%;
max-width: 1140px;
border: none;
margin: 0px auto;
display: flex;
justify-content: space-between;
}
ul{
text-decoration: none;
display: flex;


}

.logo,h1{
font-size: 45px;
f
}

.color-orange{

color: #fd6e0a;

}

.menu{
list-style: none;
gap: 50px;
align-items: center;

}
nav,menu,a{

font-size: 20px;
color: #474747;


}
.btn{
background-color: chocolate;
border: none;
padding: 18px 35px;
border-radius: 5px;
font-size: 20px;
font-weight: bold;
}










